@page "/SobreMim"
<PageTitle>Sobre Mim</PageTitle>
<h4>Sobre Mim </h4>

<h1>Douglas Ghabriel Alves</h1>
<h5>
    Oi! Me chamo Douglas Ghabriel, sou estudante de Informática e estou sempre buscando aprender mais, tanto na área técnica quanto na vida. Gosto de desmontar e montar coisas, entender como tudo funciona por dentro — principalmente quando se trata de tecnologia.

    Fora do mundo dos computadores, também tenho outras paixões: música, vôlei e maratonar filmes e séries — principalmente de ação, aventura e ficção científica. Gosto de histórias que me tiram da rotina, que me inspiram ou simplesmente me fazem esquecer do tempo.

    Sou uma pessoa prática, observadora e curiosa. No estágio, já trabalhei com manutenção e instalação de computadores, e descobri o quanto gosto de resolver problemas na prática. Estou sempre disposto a aprender algo novo, crescer e evoluir, um passo de cada vez — mas sempre seguindo em frente.
</h5>
